{{#partial "content"}}
    {{#if heros}}
        {{#each heros}}
            <div class="row">
                <div class="col-6">
                    <h3>Your hero:</h3>
                    <p> Name:{{myname}}</p>
                    <p> Age:{{myage}}</p>
                    <p>Power:{{mypower}}</p>
                    <p>Weakness:{{myweakness}}</p>
                    <p>SquadId: {{squadId}}</p>
                </div>

                <div class="col-6">
                    <h3>Your squad:</h3>
                    <p>Squad:{{Squad.mysquadname}}</p>
                    <p>Size:{{mysize}}</p>
                    <p>Squad cause:{{mycause}}</p>
                </div>
            </div>
        {{/each}}

    {{else}}
        <p>No squad or hero currently.</p>
    {{/if}}
{{/partial}}
{{> layout.hbs}}